    body {
        background-color: #252525;
    }
    
    .card-text-creator {
        color: #bbb2be;
    }

    .jumbotron{
        background-color: #252525;
    }

    .container {
        background-color: #252525;
    }


    .container-fluid {
        background-color: #252525;
    }

    .card-text {
        color: #272727;
        font-weight: 500
    }

    /* CSS link color */
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    a.previous:hover {
        background-color: #ddd;
        color: black;
    }

    .previous .next {
        background-color: #f1f1f1;
        color: black;
    }

    .round {
        border-radius: 50%;
    }

    .album {
        background-color: #252525;
    }

    .card {
        background-color: #1c1c1c;
    }

    .card-text-title {
        color: #ffd32d;
        font-weight: 500;
    }

    .card-text-author {
        color: #bbb2be;
    }

    .card-text-rating {
        color: #867a7f;
    }

    .card-section {
        color: #fff9f8;
    }

    h2 {
        font-size: 1.6rem;
    }




    
#usernameDisplay {
    padding-top: 16px;
    padding-left: 20px;
    float: left;
    color: white;
    top: 0;
    position: absolute;
}
    /* The side navigation menu */
.sidenavigation {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.05s; /* 0.05 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenavigation p {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenavigation p:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenavigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Match the cursor to the sandwich button cursor */
.sidenavigation .pointer {
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
