{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Recipe
{% endblock %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_recipe.css' %}" />
{% endblock %}

{% block body_block %}
{% if recipe.user == user %}
    <div class="container p-4">
        <h1 style="color: white; text-transform: uppercase" class="jumbotron-heading">Create a recipe</h1>
    </div>

    <div class="container p-4" style="background-color: #1c1c1c; color:white; border-radius: 1.2rem">
        <img src="" id="preview" width="200px" />
		<form id="recipe_form" method="post" action="{% url 'cookhub:add_recipe' recipe.id %}" enctype="multipart/form-data"> 
			{% csrf_token %}
			{% for hidden in recipe_form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{% for field in recipe_form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }} <br />
			{% endfor %}
			
		<input type="submit" id="addRecipe" value="Finished Recipe" style="display:none;" />
		
		<script type="text/javascript" src="{% static 'js/displayImageUpload.js' %}"> // displays the uploaded photo right away
        </script>

		</form>
			<form class="row " id="category_form">
				{% csrf_token %}
				{% for field in  category_form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }} <br />
				{% endfor %}
				<button class="btn btn-outline-warning my-2 my-sm-0 ml-3"
                        style="border-radius:10rem" id="addCategory" >Add Category</button>

			</form>
			<script src="{% static 'js/recipeAddCategory.js' %}"></script>
			<script>
        		$("button#addCategory").click( function(event) {
            		event.preventDefault();
            		addCat("{% url 'cookhub:add_category' %}");
            	});
			</script>

            <hr>
			<h2>Ingredients for the recipe</h2>
			<ul id="ingredientList">
			</ul>
			<script src="{% static 'js/recipeIngredientRemove.js' %}" ></script>
			<script>
    			$("body").on("click", "button.removeIngredient", function () {
        			remIng("{% url 'cookhub:remove_ingredient' %}", "{{ csrf_token }}", this);
        		});
    		</script>
			
			<form class="mb-4" id="ingredient_form">
				{% csrf_token %}
				{% for field in ingredient_form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }} <br />
				{% endfor %}
				<button class="btn btn-outline-warning my-2 my-sm-0"
                        style="border-radius:10rem" id="addIngredient" >Add Ingredient</button>

			</form>
        <button class="btn btn-outline-warning my-2 my-sm-0 ml-0 btn-block" onclick="$('input#addRecipe').trigger('click');"
               style="border-radius:10rem; width: 500px" name="addRecipe">Publish Recipe</button>
			<script src="{% static 'js/recipeAddIngredient.js' %}"></script>
			<script>
            	$("button#addIngredient").click( function(event) {
            		event.preventDefault();
            		addIng("{% url 'cookhub:add_ingredient' %}", this, "{{ recipe.id }}");
            	});
			</script>
    <p align="center">
    <button class="btn btn-outline-warning my-2 my-sm-0" onclick="$('input#addRecipe').trigger('click');">Finished recipe</button>
	</p>
	</div>
{% endif %}
{% endblock %}