{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Delete ingredient
{% endblock %}

{% block body_block %}
	<h2> Are you sure you want to delete the ingredient </h2> <br />
	<form method="post" action="{% url 'cookhub:del_ingredient' recipe_id ingredient.id %}">
		{% csrf_token %}
		<input type='submit' value="Yes"  type='Yes'/>
	</form>
	<form method='get' action="{% url 'cookhub:add_recipe' recipe_id %}">
		{% csrf_token %}
		<input type='submit' value="No" type='No'/>
	</form>
{% endblock %}