{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
Edit Profile for {{ selected_user.username }}
{% endblock %}

{% block head_block %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4 m-0">
    <div class="container">
        <h1 style="color: white; text-transform: uppercase" class="jumbotron-heading">Edit {{ selected_user.username }}'s Profile</h1>
    </div>
</div>

<div class="container" style="background-color: #1c1c1c; border-radius: 1.2rem">
    <div class="row p-3">
        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                width="300"
                height="300"
                alt="{{ selected_user.username }}'s profile image"
                id="previous" />
        <div class="card-text-title pl-3" >
            {% if selected_user == user %}
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <script type="text/javascript">

                            
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#previous').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                
                    $("#id_picture").change(function(){
                        readURL(this);
                    });  
                    
                        
                    </script>
                    <p>First Name: {{ selected_user.first_name }}</p>
                    <p>Last Name: {{ selected_user.last_name }}</p>
                    <p>User Name: {{ selected_user.username }}</p>
                    <p class="m-0 mb-2"><label for="id_email">Email address:</label> <input class="pl-1 ml-2" type="email" name="email" value="{{ selected_user.email }}" maxlength="254" id="id_email" ></p>
                    <p class="m-0 mb-2"><a class="btn btn-outline-warning my-2 my-sm-0 m-0" style="border-radius:10rem" href="{% url 'cookhub:change_password' user.username %}">Change password</a></p>
                    <input class="btn btn-outline-warning my-2 my-sm-0" style="border-radius:10rem" type="submit" value="Update the profile" />
                    
                </form>
            {% else %}
                You can't edit this profile!
            {% endif %}
        </div>
    </div>
</div>
    <style>
    p {
        color: #e9e9e9;
    }
    </style>
{% endblock %}