{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <main role="main">

            <div class="album p-0 m-0 py-5 pr-5 mr-5" style="padding-right: 15rem!important">
                <div class="container">
                    <table>
                        <tbody>
                        <tr>
                            <div>
                                <h1 class="card-section p-1 align-middle" style="display:inline"> NEWEST RECIPES</h1>
                                <a class="btn btn-outline-warning my-2 my-sm-0 ml-3 align-middle"
                                   style="border-radius: 10rem"
                                   href="{% url 'cookhub:view_all' 'newest'%}" id="viewAllNewestRecipes">View All</a>
                            </div>

                            <br/>
                        </tr>
                        <tr>
                            <div class="row" id="newest">
                            </div>
                        </tr>
                        <tr>
                            <div align="center">
                                <button class="first btn btn-outline-warning my-2 my-sm-0" id="newest">First Page</button>
                                <button class="previous btn btn-outline-warning my-2 my-sm-0" id="newest">&laquo; Previous</button>
                                <strong><em class="pr-2 pl-2" id="NewestRecipePage" style="color: white"> 1 </em></strong>
                                <button class="next btn btn-outline-warning my-2 my-sm-0" id="newest">Next &raquo;</button>
                                <button class="last btn btn-outline-warning my-2 my-sm-0" id="newest">Last Page</button>
                            </div>
                        </tr>
                        <hr/>
                        <tr>
                            <div class="mb-4 mt-2">
                                <h1 class="card-section p-1 align-middle" style="display:inline"> POPULAR RECIPES</h1>
                                <a class="btn btn-outline-warning my-2 my-sm-0 ml-3 align-middle"
                                   style="border-radius: 10rem"
                                   href="{% url 'cookhub:view_all' 'popular' %}" id="viewAllPopularRecipes">View All</a>
                            </div>
                        </tr>
                        <tr>
                            <div class="row" id="popular">
                            </div>

                        </tr>
                        <tr>
                            <div align="center">
                                <button class="first btn btn-outline-warning my-2 my-sm-0" id="popular">First Page</button>
                                <button class="previous btn btn-outline-warning my-2 my-sm-0" id="popular">&laquo; Previous</button>
                                <strong><em class="pr-2 pl-2" id="PopularRecipePage" style="color: white"> 1 </em></strong>
                                <button class="next btn btn-outline-warning my-2 my-sm-0" id="popular">Next &raquo;</button>
                                <button class="last btn btn-outline-warning my-2 my-sm-0" id="popular">Last Page</button>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        <div class="sidenav pt-5 mt-5">
            <h2 class="pl-5 pb-3" style="color: white">CATEGORIES</h2>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}

                <li class="pl-3 pr-3 pb-2">
                    <a class="bugged"
                            href="{% url 'cookhub:category' category.id %}">{{ category.name }}
                    </a>
                </li>
                {% endfor %}
                <li class="pl-3 pr-3 pb-2">
                    <a class="btn btn-warning warning my-2 my-sm-0 btn-block ml-2 mr-4" style="color: #ffc107; border-radius:10rem; background-color: #252525"
                            href="{% url 'cookhub:all_categories' %}">View all Categories
                    </a>
                </li>
                <li><br /><br /></li>
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
            {% endif %}

        </div>



    </main>

    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            // parameters for homepage.js
            var authenticated = "{{ user.is_authenticated }}";
            var NewestRecipePages = {{ NewestRecipePages }};
            var PopularRecipePages = {{ PopularRecipePages }};
            var recipe_pagination = "{% url 'cookhub:recipe_pagination' %}";
            var csrf_token = "{{ csrf_token }}";
            var RecipesPerPage = {{ RecipesPerPage }};
            start(csrf_token, authenticated, NewestRecipePages, PopularRecipePages, recipe_pagination, RecipesPerPage);
            
            {% if user.is_authenticated %}
                // save recipes, only possible if the user is authenticated
                $("body").on("click", "button.addRecipeButton", function () {
                    var recipeID = $(this).attr("data-recipeid");
                    $(this).attr("disabled", true);
                    $(this).html("Saved");
                    $.post("{% url 'cookhub:save_recipe' %}",
                        {"recipeID": recipeID, "csrfmiddlewaretoken": "{{ csrf_token }}"})
                });
            {% endif %}

        });
    </script>


{% endblock %}

