{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <main role="main">

        <div class="album p-0 m-0 py-5">
            <div class="container">
                <table>
                <tbody>
                    <tr>
                        <h2 class="card-section p-1"> NEWEST RECIPES </h2><a href="#" id="viewAllNewestRecipes">View All</a><br/>
                    </tr>
                    <tr>
                        <div class="row" id="newest">
                        </div>
                    </tr>
                    <tr>
                        <div align="center">
                            <button class="previous btn btn-outline-warning my-2 my-sm-0" id="newest">&laquo; Previous</button>
                            <strong><em class="pr-2 pl-2" id="NewestRecipePage" style="color: white"> 1 </em></strong>
                            <button class="next btn btn-outline-warning my-2 my-sm-0" id="newest">Next &raquo;</button>
                        </div>
                    </tr>
            <hr/>
            <tr>
                <h2 class="card-section p-1"> POPULAR RECIPES </h2> <a href="#" id="viewAllPopularRecipes">View All</a><br/>
            </tr>
            <tr>
                <div class="row" id="popular">
                </div>

            </tr>
            <tr>
                <div align="center">
                    <button class="previous btn btn-outline-warning my-2 my-sm-0" id="popular">&laquo; Previous</button>
                    <strong><em class="pr-2 pl-2" id="PopularRecipePage" style="color: white"> 1 </em></strong>
                    <button class="next btn btn-outline-warning my-2 my-sm-0" id="popular">Next &raquo;</button>
                </div>
            </tr>
            </tbody>
            </table>
        </div>
        </div>

    </main>

    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // parameters for homepage.js
            var authenticated = "{{ user.is_authenticated }}";
            var NewestRecipePages = {{ NewestRecipePages }};
            var PopularRecipePages = {{ PopularRecipePages }};
            var recipe_pagination = "{% url 'cookhub:recipe_pagination' %}";
            start(authenticated, NewestRecipePages, PopularRecipePages, recipe_pagination);
            
            {% if user.is_authenticated %}
                // save recipes, only possible if the user is authenticated
                $("body").on("click", "button.addRecipeButton", function () {
                    var recipeID = $(this).attr("data-recipeid");
                    $(this).attr("disabled", true);
                    $(this).html("Saved");
                    $.get("{% url 'cookhub:save_recipe' %}",
                        {"recipeID": recipeID})
                });
            {% endif %}

        });
    </script>
{% endblock %}

