{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile of {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                width="150"
                height="150"
                alt="{{ selected_user.username }}'s profile image" />
            <br />
        <div>
            First Name: {{ selected_user.first_name }}<br />
            Last Name: {{ selected_user.last_name }}<br />
            User Name: {{ selected_user.username }}<br />
            Email: {{ selected_user.email }}<br />
            {% if selected_user == user %}
                    <a href="{% url 'cookhub:edit_profile' user.username %}">Edit Profile</a>   
            {% endif %}
        </div> 
    </div>
</div>


<div class="album py-5 bg-light">
    <div class="container">
    
    <table>
    <tbody>
    <tr>
        <h2> {% if user.is_authenticated %}My{% else %}{{ selected_user.username }}'s{% endif %} recipes </h2>
    </tr>
    <tr>
        <div class="row" id="my">
        </div>
    </tr>
    <tr>
            <div align="center" >
            <button class="previous round" id="my" >&laquo; Previous</button>
            <strong><em id="MyRecipePage" >   1   </em></strong>
            <button class="next round" id="my" >Next &raquo;</button>
            </div>
    </tr>
        </div>
    <hr />
        {% if user.is_authenticated %}
    <tr>
        <h2> Saved recipes </h2>
    </tr>
    <tr>
        <div class="row" id="saved">
        </div>
        
    </tr>
    <tr>
            <div align="center" >
            <button class="previous round" id="saved" >&laquo; Previous</button>
            <strong><em id="SavedRecipePage" >   1   </em></strong>
            <button class="next round" id="saved" >Next &raquo;</button>
            </div>
    </tr>
        </div>
        {% endif %}
    </tbody>
    </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        
        $("button.previous").attr("disabled", true);
        
        var RecipesPerPage = "3";
        var author = "{{ selected_user.username }}";
        var which = "my";
        var nextPageNumber = 1;
        var page = nextPageNumber.toString();
        var single = "0"; // 1-based counting; if only one recipe from the page: 0 is NOT a single one
        var element = "div.row#my";
        var url = "{% url 'cookhub:recipe_pagination' %}";
        if (nextPageNumber=={{ MyRecipePages }}) {
            $("button.next#my").attr("disabled", true);
        }
        $("em#MyRecipePage").text("   "+page+"   ");
        RecipeGetter(RecipesPerPage, author, which, page, single, element, url);
        
        {% if user.is_authenticated %}
        which = "saved";
        element = "div.row#saved";
        var buttons = "remove";
        if (nextPageNumber=={{ SavedRecipePages }}) {
            $("button.next#saved").attr("disabled", true);
        }
        $("em#SavedRecipePage").text("   "+page+"   ");
        RecipeGetter(RecipesPerPage, author, which, page, single, element, url, buttons);
        
        
        // remove the recipe from saved
        $("body").on("click", "button.removeRecipeButton", function() {
            var recipeID = $(this).attr("data-recipeid");
            $.post("{% url 'cookhub:save_recipe' %}",
                    {"recipeID": recipeID, "csrfmiddlewaretoken": "{{ csrf_token }}"}, 
                    function(data) {
                        if (data.startsWith("correct")) {
                            //$("div#"+recipeID).remove();
                            var recipesLeft = parseInt(data.substring(7), 10);
                            var RecipesPerPage = "3";
                            var author = "{{ selected_user.username }}";
                            var which = "saved";
                            var nextPageNumber = parseInt($("em#SavedRecipePage").html().replace(/ /g,''), 10);
                            if (recipesLeft%RecipesPerPage==0 && nextPageNumber>1) {
                                nextPageNumber -= 1;
                            }
                            var page = nextPageNumber.toString();
                            var single = "0"; // 1-based counting; if only one recipe from the page: 0 is NOT a single one
                            if (recipesLeft==1) {
                                single = "1";
                            }
                            var element = "div.row#saved";
                            if (recipesLeft==0) {
                                $(element).html("");
                                return;
                            }
                            var url = "{% url 'cookhub:recipe_pagination' %}";
                            var buttons = "remove";
                            if (recipesLeft<=parseInt(RecipesPerPage, 10)) {
                                $("button.next#saved").attr("disabled", true);
                                $("button.previous#saved").attr("disabled", true);
                            }
                            else if (nextPageNumber=={{ MyRecipePages }}) {
                                $("button.next#saved").attr("disabled", true);
                            }                            
                            if (nextPageNumber>0) {
                                $("em#SavedRecipePage").text("   "+page+"   ");
                            }
                            RecipeGetter(RecipesPerPage, author, which, page, single, element, url, buttons);
                        }
                    });
                
        });
        {% endif %}
        
        // retrieve next "My Recipes" page
        $("button.next#my").click(function () {
            var RecipesPerPage = "3";
            var author = "{{ selected_user.username }}";
            var which = "my";
            var nextPageNumber = parseInt($("em#MyRecipePage").html().replace(/ /g,''), 10) + 1;
            var page = nextPageNumber.toString();
            var single = "0"; // 1-based counting; if only one recipe from the page: 0 is NOT a single one
            var element = "div.row#my";
            var url = "{% url 'cookhub:recipe_pagination' %}";
            $("button.previous#my").attr("disabled", false);
            if (nextPageNumber=={{ MyRecipePages }}) {
                $("button.next#my").attr("disabled", true);
            }
            $("em#MyRecipePage").text("   "+page+"   ");
            RecipeGetter(RecipesPerPage, author, which, page, single, element, url);   
        });
        
        // retrieve previous "My Recipes" page
        $("button.previous#my").click(function () {
            var RecipesPerPage = "3";
            var author = "{{ selected_user.username }}";
            var which = "my";
            var nextPageNumber = parseInt($("em#MyRecipePage").html().replace(/ /g,''), 10) - 1;
            var page = nextPageNumber.toString();
            var single = "0"; // 1-based counting; if only one recipe from the page: 0 is NOT a single one
            var element = "div.row#my";
            var url = "{% url 'cookhub:recipe_pagination' %}";
            $("button.next#my").attr("disabled", false);
            if (nextPageNumber==1) {
                $("button.previous#my").attr("disabled", true);
            }
            $("em#MyRecipePage").text("   "+page+"   ");
            RecipeGetter(RecipesPerPage, author, which, page, single, element, url);
        });
        
        {% if user.is_authenticated %}
        // retrieve next "Saved Recipes" page
        $("button.next#saved").click(function () {
            var RecipesPerPage = "3";
            var author = "{{ selected_user.username }}";
            var which = "saved";
            var nextPageNumber = parseInt($("em#SavedRecipePage").html().replace(/ /g,''), 10) + 1;
            var page = nextPageNumber.toString();
            var single = "0"; // 1-based counting; if only one recipe from the page: 0 is NOT a single one
            var element = "div.row#saved";
            var url = "{% url 'cookhub:recipe_pagination' %}";
            var buttons = "remove";
            $("button.previous#saved").attr("disabled", false);
            if (nextPageNumber=={{ MyRecipePages }}) {
                $("button.next#saved").attr("disabled", true);
            }
            $("em#SavedRecipePage").text("   "+page+"   ");
            RecipeGetter(RecipesPerPage, author, which, page, single, element, url, buttons);
            
        });
        
        // retrieve previous "Saved Recipes" page
        $("button.previous#saved").click(function () {
            var RecipesPerPage = "3";
            var author = "{{ selected_user.username }}";
            var which = "saved";
            var nextPageNumber = parseInt($("em#SavedRecipePage").html().replace(/ /g,''), 10) - 1;
            var page = nextPageNumber.toString();
            var single = "0"; // 1-based counting; if only one recipe from the page: 0 is NOT a single one
            var element = "div.row#saved";
            var url = "{% url 'cookhub:recipe_pagination' %}";
            var buttons = "remove";
            $("button.next#saved").attr("disabled", false);
            if (nextPageNumber==1) {
                $("button.previous#saved").attr("disabled", true);
            }
            $("em#SavedRecipePage").text("   "+page+"   ");
            RecipeGetter(RecipesPerPage, author, which, page, single, element, url, buttons);
        });
        {% endif %}
    
    });
    </script>
<style>
    a {
         text-decoration: none;
         display: inline-block;
         padding: 8px 16px;
    }
        
    a.previous:hover {
          background-color: #ddd;
          color: black;
    }
        
    .previous .next {
          background-color: #f1f1f1;
          color: black;
    }
        
    .round {
          border-radius: 50%;
    }
</style>
{% endblock %}