{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile of {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                width="150"
                height="150"
                alt="{{ selected_user.username }}'s profile image" />
            <br />
        <div>
            First Name: {{ selected_user.first_name }}<br />
            Last Name: {{ selected_user.last_name }}<br />
            User Name: {{ selected_user.username }}<br />
            Email: {{ selected_user.email }}<br />
            {% if selected_user == user %}
                    <a href="{% url 'cookhub:edit_profile' user.username %}">Edit Profile</a>   
            {% endif %}
        </div> 
    </div>
</div>


<div class="album py-5 bg-light">
    <div class="container">
    
    <table>
    <tbody>
    <tr>
        <h2> My recipes </h2>
    </tr>
    <tr>
        <div class="row" id="my">
            {% if MyRecipes %}
                {% for recipe in MyRecipes %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                 src="{{ MEDIA_URL }}{{ recipe.photo }}" data-holder-rendered="true">
                            <div class="card-body">
                                <a class="card-text" href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a>Rating: {{ recipe.averageRating }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </tr>
    <tr>
            <div align="center" >
            <button class="previous round" id="my" disabled="true" >&laquo; Previous</button>
            <strong><em id="MyRecipePage" >   1    </em></strong>
            <button class="next round" id="my" >Next &raquo;</button>
            </div>
    </tr>
        </div>
    <hr />
        {% if user.is_authenticated %}
    <tr>
        <h2> Saved recipes </h2>
    </tr>
    <tr>
        <div class="row" id="saved">
            {% if SavedRecipes %}
                {% for recipe in SavedRecipes %}
                    <div class="col-md-4" id="{{ recipe.id }}">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                 src="{{ MEDIA_URL }}{{ recipe.photo }}" data-holder-rendered="true">
                            <div class="card-body">
                                <a class="card-text" href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a>Rating: {{ recipe.averageRating }}</a>
                                </div>
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary removeRecipeButton"
                                            data-recipeid="{{ recipe.id }}" >
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    </tr>
    <tr>
            {% endif %}
            <div align="center" >
            <button class="previous round" id="saved" disabled="true" >&laquo; Previous</button>
            <strong><em id="SavedRecipePage" >   1    </em></strong>
            <button class="next round" id="saved" >Next &raquo;</button>
            </div>
    </tr>
        </div>
        {% endif %}
    </tbody>
    </table>
    </div>
</div>

<script src="{% static 'js/paginationHandler.js' %}"></script>
<script>
    $(document).ready(function () {
        
        // disable next if there is only one page
        if ({{ MyRecipePages }}==1 ) {
            //$("button.next#my").attr("disabled", "true");
        }
        
        if ({{ SavedRecipePages }}==1 ) {
            $("button.next#saved").attr("disabled", "true");
        }
        
        // retrieve further pages
        $("button.next#my").click(function () {
            var currentPageNumber = parseInt($("em#MyRecipePage").html().replace(/ /g,''), 10);
            $.get("{% url 'cookhub:recipe_pagination' %}", 
                    {"direction":"next", "currentPageNumber":currentPageNumber, "mode":"My"},
                    function(data) {
                        $("div.row#my").html(data);
                    });
            
            $("button.previous#my").attr("disabled", "false");
        });
        
        // remove the recipe from saved
        $("button.removeRecipeButton").click(function() {
            alert("hey");
            var recipeID = $(this).attr("data-recipeid");
            $.post("{% url 'cookhub:save_recipe' %}",
                    {"recipeID": recipeID, "csrfmiddlewaretoken": "{{ csrf_token }}"}, 
                    function(data) {
                        if (data=="correct") {
                            $("div#"+recipeID).remove();
                        }
                    });
        });
        
        
    });
    </script>
<style>
    a {
         text-decoration: none;
         display: inline-block;
         padding: 8px 16px;
    }
        
    a.previous:hover {
          background-color: #ddd;
          color: black;
    }
        
    .previous .next {
          background-color: #f1f1f1;
          color: black;
    }
        
    .round {
          border-radius: 50%;
    }
</style>
{% endblock %}