{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% ifequal user.username selected_user.username %}
My Profile
{% else %}
Profile of {{ selected_user.username }}
{% endifequal %}
{% endblock %}
<!-- Depending on who's watching, "My Profile" or the username is displayed -->
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4 m-0">
    <div class="container">
        <h1 style="color: white; text-transform: uppercase" class="jumbotron-heading">{% ifequal user.username selected_user.username %}My{% else %}{{ selected_user.username }}'s{% endifequal %} Profile</h1>
        <!-- Depending on who's watching, "My" or the username is displayed -->
    </div>
</div>

<div class="container" style="background-color: #1c1c1c; border-radius: 1.2rem">
    <div class="row p-3">
        <img class="profile-pic" src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                width="150"
                height="150"
                alt="{{ selected_user.username }}'s profile image" />
            <br />
        <div class="card-text-title pl-4 text-nowrap" >
            First Name: {{ selected_user.first_name }}<br />
            Last Name: {{ selected_user.last_name }}<br />
            User Name: {{ selected_user.username }}<br />
            Email: {{ selected_user.email }}<br />
            {% if selected_user == user %}
            <div class="pt-2">
            <a class="btn btn-outline-warning my-2 my-sm-0"
                href="{% url 'cookhub:edit_profile' user.username %}"
            >Edit Profile</a></div>
            {% endif %}
        </div> 
    </div>
</div>


<div class="album py-5">
    <div class="container">
    
    <table>
    <tbody>
    <tr>
        <h2 style="color: white; text-transform: uppercase"> {% ifequal user.username selected_user.username %}My{% else %}{{ selected_user.username }}'s{% endifequal %} recipes </h2>
        <!-- Depending on who's watching, "My" or the username is displayed -->
    </tr>
    <tr>
        <div class="row" id="my">
        </div>
    </tr>
    <tr>
            <div align="center" >
                <button class="first btn btn-outline-warning my-2 my-sm-0" id="my">First Page</button>
                <button class="previous btn btn-outline-warning my-2 my-sm-0" id="my">&laquo; Previous</button>
                <strong><em class="pr-2 pl-2" id="MyRecipePage" style="color: white;"> 1 </em></strong>
                <button class="next btn btn-outline-warning my-2 my-sm-0" id="my">Next &raquo;</button>
                <button class="last btn btn-outline-warning my-2 my-sm-0" id="my">Last Page</button>
            </div>
    </tr>
        </div>
    <hr />
        {% ifequal user.username selected_user.username %}
        {% if user.is_authenticated %}
        <!-- only available if the user looking at the profile is the owner -->  
    <tr>
        <h2 style="color: white; text-transform: uppercase"> Saved recipes </h2>
    </tr>
    <tr>
        <div class="row" id="saved">
        </div>
        
    </tr>
    <tr>
            <div align="center" >
                <button class="first btn btn-outline-warning my-2 my-sm-0" id="saved">First Page</button>  
                <button class="previous btn btn-outline-warning my-2 my-sm-0" id="saved">&laquo; Previous</button>
                <strong><em class="pr-2 pl-2" id="SavedRecipePage" style="color: white;"> 1 </em></strong>
                <button class="next btn btn-outline-warning my-2 my-sm-0" id="saved">Next &raquo;</button>
                <button class="last btn btn-outline-warning my-2 my-sm-0" id="saved">Last Page</button>
            </div>
    </tr>
        </div>
        {% endif %}
        {% endifequal %}
    </tbody>
    </table>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        // parameters for profile.js
        var authenticated = "{{ user.is_authenticated }}";
        var MyRecipePages = {{ MyRecipePages }};
        var SavedRecipePages = {{ SavedRecipePages }};
        var recipe_pagination = "{% url 'cookhub:recipe_pagination' %}";
        var selected_user = "{{ selected_user.username }}";
        var remove_saved_recipe = "{% url 'cookhub:remove_saved_recipe' %}";
        var csrf_token = "{{ csrf_token }}";
        var RecipesPerPage = {{ RecipesPerPage }};
        start(csrf_token, authenticated, MyRecipePages, SavedRecipePages, recipe_pagination, selected_user, remove_saved_recipe, RecipesPerPage);
           
    });
    </script>
{% endblock %}