{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ recipe.title }}
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/recipe.css' %}" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}
{% block body_block %}
    <div class="container p-4">
        <h1 id="heading" style="text-transform: uppercase" class="jumbotron-heading">"{{ recipe.title }}"</h1>
    </div>
    <div id="block" class="container p-4" style="background-color: #1c1c1c; color: white; border-radius: 1.2rem">
        <table>
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <h3 id="categories" class="ml-3"> Description </h3>
                                <hr id="hr2">
                            </div>
                            <p class="mt-2 ml-1" id="description">
                                {% if recipe.description %}
                                    {{ recipe.description }}</p>
                                {% else %}
                                    <strong>There is no description for this recipe</strong> <br/>
                                {% endif %}
                        </div>

                        <div class="col-md-6 p-0 pl-4">
                            <img class="ml-2 mt-2" id="image" src="{{ MEDIA_URL }}{{ recipe.photo }}" width="500"
                                 style="max-width: 500px; max-height: 500px"/>
                        </div>


                    </div>
                    <hr id="hr_orange" class="mr-2">
                </td>
            </tr>
            <tr>
                <td>
                    {% if user.is_authenticated %}
                        {% if rpresent %}
                            Rate: <br/>
                            <form id="rating_form" method="post" action=".">
                                {% csrf_token %}
                                {% for field in rating_form.visible_fields %}
                                    {{ field.errors }}
                                    {{ field }}
                                {% endfor %}
                                <input type="submit" name="submit" value="Submit Rating"/>
                            </form>

                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <h3 id="categories" class="mb-3">Comments</h3>
                    {% if user.is_authenticated %}
                        <form class="row" id="comment_form" method="post" action=".">
                            {% csrf_token %}
                            {% for field in comment_form.visible_fields %}
                                {{ field.errors }}
                                {{ field }}
                            {% endfor %}
                            <div class="pl-3">
                                <input class="btn btn-outline-warning my-2 my-sm-0" type="submit"
                                       style="border-radius:10rem" name="submit" value="Submit Comment"/>
                            </div>
                        </form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if comments %}
                        <table>
                            {% for comment in comments %}
                                <tr>
                                    <div class="row">
                                        <a class="m-0 p-0 ml-3 mr-2" id="comment_user" href="{% url 'cookhub:profile' creator.username %}">{{ comment.user.username }}</a>
                                        <p class="m-0 p-0" id="comment_date"> {{ comment.creationDate }}:</p>
                                        <p class="m-0 p-0 ml-3" id="comment_text">{{ comment.text }}</p>

                                    </div>
                                    <hr id="comment_hr">
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <strong>There are no comments on this recipe</strong><br/>
                    {% endif %}
                </td>
            </tr>

        </table>
    </div>

    <div class="sidenav pt-5 mt-5">

        <div class="row">
            <img id="profile" src="{{ MEDIA_URL }}{{ profile_picture }}" width="200" height="200"/>

            <div class="mt-3">
                <a id="author" class="pl-3 pt-0" href="{% url 'cookhub:profile' creator.username %}">
                    {{ creator.username }}</a>
                <p class="p-0 m-0 ml-3">
                    Views: {{ recipe.views }} </p>
                <p class="p-0 m-0 ml-3">Rating: {{ recipe.averageRating }}</p>
                <div class="row ml-3 pt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-clock mr-2">
                        <circle cx="12" cy="12" r="10"/>
                        <polyline points="12 6 12 12 16 14"/>
                    </svg>
                    <p class="p-0 m-0">Cooking: {{ recipe.time }}
                        minute{% ifnotequal recipe.time 1 %}s{% endifnotequal %}</p>
                </div>
                <div class="row ml-3 mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-hash">
                        <line x1="4" y1="9" x2="20" y2="9"/>
                        <line x1="4" y1="15" x2="20" y2="15"/>
                        <line x1="10" y1="3" x2="8" y2="21"/>
                        <line x1="16" y1="3" x2="14" y2="21"/>
                    </svg>
                    <p class="p-0 m-0 ml-2">Servings: {{ recipe.servings }}</p>
                </div>

            </div>
        </div>

        <div id="buttons" class="mt-3 ml-4">
            {% ifequal user creator %}
                {% if user.is_authenticated %}
                    <tr>
                        <td>
                            <button class="btn btn-outline-warning my-2 my-sm-0 mr-1" type="submit"
                                    style="border-radius:10rem" onclick="deleteRecipe()">Delete Recipe
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endifequal %}
            {% if user.is_authenticated %}
                {% if saved %}
                    <tr>
                        <td>
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"
                                    style="border-radius:10rem" id="removeRecipeButton">Remove Recipe
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"
                                    style="border-radius:10rem" id="saveRecipeButton">Save Recipe
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            <hr id="hr1">
        </div>

        <div style="color: white" class="mt-3 ml-4">
            <h3 id="categories" class="pb-2">Categories</h3>
            {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li>
                            {{ category.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>This recipe is not part of any categories</strong><br/>
            {% endif %}
        </div>

        <div style="color: white" class="mt-3 ml-4">
            <h3 id="categories" class="pb-2"> Ingredients </h3>

            {% if ingredients %}
                <ul>
                    {% for ingredient in ingredients %}
                        <li>
                            {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong> No ingredients in this recipe </strong>
            {% endif %}
        </div>


    </div>


    <script type="text/javascript"> // left inline script because the recipe ID has to be inserted by the Django rendering engine
    function deleteRecipe() {
        if (confirm("Delete Recipe?\nPress OK to confirm deletion.")) {
            window.open("/recipe/{{ recipe.id }}/delete/", "_self");
        }
    }

    {% if saved %}
        $("button#removeRecipeButton").click(function () {
            $(this).attr("disabled", true);
            $(this).html("Removed");
            $.post("{% url 'cookhub:save_recipe' %}",
                {"recipeID": {{ recipe.id }}, "csrfmiddlewaretoken": "{{ csrf_token }}"});
        });
    {% else %}
        $("button#saveRecipeButton").click(function () {
            $(this).attr("disabled", true);
            $(this).html("Saved");
            $.get("{% url 'cookhub:save_recipe' %}",
                {"recipeID": {{ recipe.id }}});
        });
    {% endif %}
    </script>

{% endblock %}
		