{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ recipe.title }}
{% endblock %}



{% block body_block %}

<main role="main" style="color:white;">
	<table>

	<tr>
		<td>
		<img src="{{ MEDIA_URL }}{{ recipe.photo }}" width = "600" height = "300" /><br />
		{{ recipe.title }} <br />
		
		<h3> Ingredients </h3> <br />
		
		{% if ingredients %}
		<ul>
		{% for ingredient in ingredients %}
			<li>
			{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
			</li>
		{% endfor %}
		</ul>
		{% else %}
			<strong> No ingredients in this recipe </strong>
		{% endif %}
		</td>
	
		<td>
		<table>
		<tr>
			<table>
			<tr>
				<td>
				<img src="{{ MEDIA_URL }}{{ profile_picture }}" width = "150" height "150" />
				</td>
            </tr>
            <tr>
				<td>
				<a href="{% url 'cookhub:profile' creator.username %}">
				{{ creator.username }}</a> <br />
				Views: {{ recipe.views }} <br />
				Rating: {{ recipe.averageRating }} <br />
				</td>
			</tr>
			{% ifequal user creator %}
			{% if user.is_authenticated %}
			<tr>
				<td>
				<button onclick="deleteRecipe()" >Delete Recipe</button>
				</td>
			</tr>
			{% endif %}
			{% endifequal %}
			{% if user.is_authenticated %}
			{% if saved %}
			<tr>
				<td>
				<button id="removeRecipeButton" >Remove Recipe</button>
				</td>
			</tr>
			{% else %}
			<tr>
				<td>
				<button id="saveRecipeButton" >Save Recipe</button>
				</td>
			</tr>
			{% endif %}
			{% endif %}
			<tr>
    			<td>
        			<button onclick="window.open('http://www.facebook.com/sharer.php?u='+window.location.href);">
        			Share on Facebook</button>
    			</td>
    		</tr>
			</table>
		</tr>
		<tr>
			Cooking time: {{ recipe.time }} minute{% ifnotequal recipe.time 1 %}s{% endifnotequal %}<br />
			Serving(s) {{ recipe.servings }} <br />
		</tr>
		<tr>
			<h3>Categories</h3> <br />
			{% if categories %}
				<ul>
				{% for category in categories %}
					<li>
					{{ category.name }} <br />
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>This recipe is not part of any categories</strong><br />
			{% endif %}
		</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<h2> Description </h2>
		{% if recipe.description %}
			{{ recipe.description }} <br />
		{% else %}
			<strong>There is no description for this recipe</strong> <br />
		{% endif %}
		</td>
	</tr>
	<tr>
		<td>
		{% if user.is_authenticated %}
		{% if rpresent %}
		Rate: <br /> 
		<form id="rating_form" method="post" action=".">
			{% csrf_token %}
			{% for field in rating_form.visible_fields %}
				{{ field.errors }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Submit Rating" />
		</form> 

		{% endif %}
		{% endif %}
		</td>
	</tr>
	<tr>
		<td>
		<h2>Comments:</h2> <br />
		{% if user.is_authenticated %} 
		<form id="comment_form" method="post" action=".">
			{% csrf_token %}
			{% for field in comment_form.visible_fields %}
				{{ field.errors }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Submit Comment" />
		</form>
		{% endif %}
		</td>
	</tr>
	<tr>
		<td>
		{% if comments %}
			<table>
			{% for comment in comments %}
				<tr>
					<td>
					{{ comment.user.username }} {{ comment.creationDate }}: {{ comment.text }}
					</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<strong>There are no comments on this recipe</strong><br />
		{% endif %}
		</td>
	</tr>
	</table>
</div>
</main>
<script type="text/javascript"> // left inline script because the recipe ID has to be inserted by the Django rendering engine
    function deleteRecipe() {
          if (confirm("Delete Recipe?\nPress OK to confirm deletion.")) {
              window.open("/recipe/{{ recipe.id }}/delete/", "_self");
          }
    }
    
    {% if saved %}
    $("button#removeRecipeButton").click(function () {
            $(this).attr("disabled", true);
            $(this).html("Removed");
            $.post("{% url 'cookhub:save_recipe' %}",
                    {"recipeID": {{ recipe.id }}, "csrfmiddlewaretoken": "{{ csrf_token }}"});
    });
    {% else %}
    $("button#saveRecipeButton").click(function () {
            $(this).attr("disabled", true);
            $(this).html("Saved");
            $.get("{% url 'cookhub:save_recipe' %}",
                    {"recipeID": {{ recipe.id }}});
    });
    {% endif %}
</script>
{% endblock %}
		