{% extends 'cookhub/base.html' %}
{% load staticfiles %}

{% block title_block %}
<!--TODO: make dynamic title-->
Recipes - Search
{% endblock %}

{% block body_block %}

<main role="main">
    <!-- align the main content of the page -->
    <div class="album p-0 m-0 py-5 pr-5 mr-5" style="padding-right: 15rem!important">
        <div class="container">
            <table>
                <tbody>

                <tr><!-- text for search query -->
                    <div class="mb-4 mt-2">
                        <h1 class="card-section p-1 align-middle" style="display:inline"> SEARCH RESULTS FOR: {{ querySTR }} </h1>
                    </div>
                </tr>

                <tr>
                    <div class="row" id="search"></div>
                </tr>

                <tr>
                    <!-- pagination -->
                    <div align="center">
                        <button class="first btn btn-outline-warning my-2 my-sm-0" id="search">First Page</button>
                        <button class="previous btn btn-outline-warning my-2 my-sm-0" id="search">&laquo; Previous
                        </button>
                        <strong><em class="pr-2 pl-2" id="SearchRecipePage" style="color: white"> 1 </em></strong>
                        <button class="next btn btn-outline-warning my-2 my-sm-0" id="search">Next &raquo;</button>
                        <button class="last btn btn-outline-warning my-2 my-sm-0" id="search">Last Page</button>
                    </div>
                </tr>
                </tbody>
            </table>

            <!-- sidebar (navigator and menu) -->
            <div class="sidenav pt-5 mt-5">
                <h2 class="pl-5 pb-3" style="color: white">SEARCH OPTIONS</h2>
                {% if categories %}
                <ul class="list-group">
                    {% for category in categories %}

                    <li class="pl-3 pr-3 pb-2">
                        <a class="bugged"
                           href="#">{{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong>There are no categories present.</strong>
                {% endif %}
                <a class="btn btn-warning warning my-2 my-sm-0 ml-4 mr-4"
                   style="color: #ffc107; border-radius:10rem; background-color: #252525"
                   href="#">View all Categories
                </a>

            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="{% static 'js/searchPage.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        // parameters for searchPage.js
        let authenticated = "{{ user.is_authenticated }}";
        let recipePages = {{ recipePages }};
        let querySTR = "{{ querySTR }}";
        let recipe_pagination = "{% url 'cookhub:recipe_pagination' %}";
        let csrf_token = "{{ csrf_token }}";

        search(csrf_token, authenticated, recipePages, recipe_pagination, querySTR);

        {% if user.is_authenticated %}
        // save recipes, only possible if the user is authenticated
        $("body").on("click", "button.addRecipeButton", function () {
            var recipeID = $(this).attr("data-recipeid");
            $(this).attr("disabled", true);
            $(this).html("Saved");
            $.post("{% url 'cookhub:save_recipe' %}",
                {"recipeID": recipeID, "csrfmiddlewaretoken": "{{ csrf_token }}"})
        });

        {% endif %}
    });
</script>

<style>

    /* The sidebar menu */
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 300px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #252525; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Style page content */
    .main {
        margin-left: 300px; /* Same as the width of the sidebar */
        padding: 0px 10px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 1000px) {
        .sidenav {
            padding-top: 50px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
</style>

{% endblock %}

