    {% extends 'cookhub/base.html' %}

{% block title_block %}
Password change
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4 m-0">
    <div class="container p-4">
    <h1 style="color: white; text-transform: uppercase" class="jumbotron-heading">Password change</h1>
    </div>
    <div class="container p-4" style="background-color: #1c1c1c; border-radius: 1.2rem">

        <div class="card-text-title pl-1">
            <form method="post" action=".">
                {% csrf_token %}

                {{ form.as_p }}

                <input class="btn btn-outline-warning my-2 my-sm-0" style="border-radius:10rem" type="submit" value="Change Password" />
            </form>
        </div>
    </div>
</div>


{% endblock %}