{% extends 'cookhub/base.html' %}

{% block title_block %}
Password change
{% endblock %}

{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Password change</h1>
    </div>
</div>

<form method="post" action=".">
    {% csrf_token %}
    
    <p><label for="id_password">New password:</label> <input type="password" name="password" required id="id_password"></p>
    <p><label for="id_confirm_password">Confirm new password:</label> <input type="password" name="confirm_password" required id="id_confirm_password"></p>
    
    <input type="submit" value="Change Password" />
</form>
{% endblock %}